<h1>Our Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <p><%= restaurant.rating %></p>
  <%= link_to "Delete",
            restaurant_path(restaurant),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <hr>
<% end %>
